/*
@font-face {
    font-family: 'GothamRegular';
    src: url('gotham-book.eot');
    src: url('gotham-book.eot') format('embedded-opentype'),
         url('gotham-book.woff') format('woff'),
         url('gotham-book.ttf') format('truetype'),
         url('gotham-book.svg#GothamRegular') format('svg');
}
*/
/* Déclaration */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/**/
/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
/* Account for fixed navbar */
body {
  min-width: 960px;
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
strong {
  font-weight: bold;
}
i {
  font-style: italic;
}
div.header h3 {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #000000;
  text-align: center;
  line-height: normal;
  border: 1px solid #999999;
  padding: 5px;
  margin: 10px 0;
  position: relative;
  left: 0px;
  width: 200px;
  background: white;
}
/* Finesse the page header spacing */
.page-header {
  margin: 0px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */
/* Reset the container */
.container {
  width: 960px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: none !important;
}
.row {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.blog-main {
  padding-left: 0;
}
.blog-main > div {
  /* 		border: 1px solid red; */

}
.blog-sidebar {
  padding-right: 0;
}
.blog-sidebar-social {
  text-align: center;
}
.blog-sidebar h3 {
  font-size: 14px;
  font-weight: bold;
}
.blog-sidebar h4 {
  font-size: 13px;
  font-weight: bold;
}
.blog-sidebar p {
  font-size: 15px;
}
/* Demonstrate the grids */
/*
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}
*/
.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
/**/
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ffffff;
  color: #3a3a3a;
  font-smooth: always;
  font-family: "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1em;
  line-height: 1.2em;
}
h1 {
  font-size: 1.25em;
  color: #000000;
  font-weight: bold;
}
h2,
h3 {
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0;
}
h2 a,
h3 a {
  color: #000000;
}
h3 {
  font-size: 1em;
}
p {
  font-size: 15px;
  text-align: justify;
  margin: 10px 0 20px;
}
a,
a:hover {
  color: #000000;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
.cursor-pointer {
  cursor: pointer;
}
.align-center {
  text-align: center;
}
/*CUSTOM Bootstrap Element*/
.carousel-caption {
  background: #ffffff;
  color: #000000;
  position: relative;
  margin: 0 0;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
}
.main {
  position: relative;
  top: 0px;
  z-index: 98;
}
/*HEADER*/
.header {
  padding: 0;
  background: url(http://mes-meilleures-adresses.troisw-agenceweb.com/wp-content/themes/wordpress-bootstrap-master/images/bg_h1.png) 0 -6px;
}
.header h3:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 12px solid #727272;
  border-right: 13px solid transparent;
  position: absolute;
  top: -1px;
  right: -14px;
}
.header .col-md-12 {
  padding: 0;
}
.header h1 {
  font-size: 24px;
  line-height: 45px;
}
.header a {
  color: #000000;
  text-decoration: none;
}
.header .page-header {
  height: 100%;
  margin-bottom: 0px;
  border-bottom: none;
}
.header .page-header .title {
  white-space: nowrap;
  font-size: 1.125em;
  /* 			line-height: 1em; */

  font-family: "HelveticaNeue-Light", Verdana, sans-serif;
}
.header .page-header .title img {
  margin-top: 7px;
}
.header .page-header .row:last-child {
  margin-top: 5px;
}
/* NAVIGATION */
.navbar {
  -webkit-border-radius: 0px;
  /* Firefox 1-3.6 */

  -moz-border-radius: 0px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */

  border-radius: 0px;
  border: 0px;
}
.navbar .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-default {
  background-color: none !important;
  border-color: none !important;
  background: url(../images/nav_bg.jpg) #ffffff;
  background-repeat: repeat-x;
  background-position: 0px 9px;
  margin-top: 10px;
}
.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar .hd-bg {
  background-color: #e63f52 !important;
  width: 100%;
  height: 10px;
  position: absolute;
  top: 17px;
}
.navbar .home a {
  border-width: 2px;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  position: relative;
  top: -8px;
  left: -2px;
  background: url(../images/home.png) #ffffff no-repeat 15px 12px;
}
.navbar .home a span {
  display: none;
}
.navbar div {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar div a {
  background: white;
  border: 1px solid #e63f52;
  color: #000000 !important;
  padding: 0px;
  display: block;
  line-height: 2.5em;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.navbar div a:hover,
.navbar div a.active {
  text-decoration: none;
  background-color: #e63f52 !important;
  color: #ffffff !important;
}
.nav-main {
  text-transform: uppercase;
}
.nav-main li:nth-child(1) {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.nav-main li:nth-child(2),
.nav-main li:nth-child(3) {
  background: #ffffff !important;
  border: 1px solid #e63f52;
  width: 225px;
  height: 40px;
}
.nav-main li:nth-child(2) {
  margin-left: 30%;
  margin-right: 30%;
}
.nav-main li:nth-child(3) {
  margin-left: 30%;
  /* 	margin-right: 75px; */

}
.nav-main li {
  background: #ffffff !important;
}
.nav-main li a {
  color: #000000 !important;
  padding: 0px;
  display: block;
  line-height: 2.5em;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-main li a:hover {
  background-color: #e63f52 !important;
  color: #ffffff !important;
  /*
                        .box-shadow(0, 0, 10px, 5px, rgba(181, 179, 179, 0.5));
                        .transition(all, 0.5s, ease-out);
            */

}
.nav-main .active {
  background: #e63f52 !important;
  /* 		.box-shadow(0, 0, 10px, 5px, rgba(181, 179, 179, 0.5));		 */

}
.navbar-right {
  position: absolute;
  top: -60px;
  right: 10px;
  /**/

}
.navbar-right > li {
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-left: 10px;
}
.navbar-right > li:nth-child(1) {
  background: url(../images/social-sprite.png) no-repeat;
  -webkit-transition: background 0.5s ease-in;
  -moz-transition: background 0.5s ease-in;
  -ms-transition: background 0.5s ease-in;
  -o-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
}
.navbar-right > li:nth-child(1):hover {
  background-position: 0px -20px;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
.navbar-right > li:nth-child(2) {
  background: url(../images/social-sprite.png) no-repeat -20px 0px;
  -webkit-transition: background 0.5s ease-in;
  -moz-transition: background 0.5s ease-in;
  -ms-transition: background 0.5s ease-in;
  -o-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
}
.navbar-right > li:nth-child(2):hover {
  background-position: -20px -20px;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
.navbar-right > li a {
  padding: 0px;
  display: block;
  width: 100%;
  height: 100%;
}
.navbar-right > li a span {
  display: none;
}
.bloc-videos {
  border: 1px solid #000000;
}
.bloc-videos .aside-videos {
  border: none;
}
.bloc-videos .aside-videos li:first-child {
  margin-top: 20px;
}
.bloc-videos .aside-videos .row {
  padding: 0;
  margin: 0;
}
.bloc-artcile:first-child {
  padding-left: 0;
}
.bloc-artcile:nth-child(2) {
  padding-right: 0;
}
.bloc-artcile article {
  border: 1px solid #000000;
  padding: 0 10px;
  min-height: 340px;
}
.bloc-artcile article .voir-article {
  right: 20px;
  bottom: 5px;
}
.bd.white {
  border-color: #ffffff;
}
.bd.rose {
  border-color: #e63f52;
}
.bd.transparent {
  border-color: transparent;
}
img.visuel {
  width: 100%;
}
a.suite {
  float: right;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
a.suite:hover {
  text-decoration: underline;
}
a.suite:after {
  content: "\003e";
}
.mea {
  background: #e63f52;
  color: #ffffff;
  font-size: 10px;
  padding: 10px;
}
.mea > div {
  margin: 10px 0px;
}
.mea p {
  font-size: inherit;
  line-height: 11px;
}
.mea h3 {
  text-transform: uppercase;
  font-size: inherit;
}
.mea a,
.mea a.suite {
  color: #ffffff;
}
ul.pagination li a {
  color: #e63f52;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: none;
  margin: 0 1px 0 1px;
  border-radius: 50px;
}
ul.pagination li a:hover {
  background: #e63f52;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
ul.pagination li .active,
ul.pagination li .active:hover {
  background: #e63f52;
  border-radius: 50px;
}
ul.pagination li:first-child a,
ul.pagination li:last-child a {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-radius: 50px;
}
/**PASTILLE*/
.pastille {
  width: 80px;
  height: 58px;
  position: absolute;
  z-index: 5;
  right: 10px;
  top: 0px;
  background: url(../images/pastille_s.png) no-repeat;
}
.pastille p {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  color: #e63f52;
  line-height: 12px;
  position: relative;
  top: 10px;
  left: -1px;
}
.pastille p a {
  display: block;
}
.vignettes .pastille {
  top: 492px;
  z-index: 999;
  background: url;
  background: url(../images/pastille_l.png) no-repeat;
  width: 90px;
  height: 70px;
}
.vignettes .pastille p {
  font-size: 8px;
  padding: 0 15px;
  top: 0;
}
.row-article {
  margin-top: 5px;
}
/*SECTION*/
section {
  margin-bottom: 30px !important;
  overflow: hidden;
}
section article h2 {
  margin: 20px 0px;
}
section article .chapeau {
  font-weight: bold;
}
section article p a {
  text-decoration: underline;
}
section article p a:hover {
  text-decoration: none;
}
section article p small {
  font-size: 12px;
}
section .col-md-16 {
  padding: 0px;
}
section h1.full-title {
  background: #ffffff;
  height: 60px;
  line-height: 3.5em;
  display: inline-block;
  margin: 0px auto;
  padding: 0px 10px 0px 10px;
}
section .bg-h1 {
  background: url(../images/bg-h1.png) #ffffff;
  background-repeat: repeat-x;
  background-position-y: 30px;
  background-position: 0 32px;
}
/***********/
/*Conseils*/
#aside li {
  padding: 0 0 5px;
}
#aside li a {
  color: #000000;
}
#aside li a:hover {
  text-decoration: underline;
}
.aside-videos {
  border: 1px solid #000000;
}
.aside-videos .vignette {
  height: 61px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.aside-videos .vignette > img {
  position: relative;
  top: -10px;
}
.aside-videos .row {
  padding: 0;
  margin: 0;
}
.aside-articles .row {
  padding: 0;
  margin: 0;
}
.aside-articles li {
  border: 1px solid #000000;
  margin-bottom: 10px;
  padding: O O 5px;
}
.pub,
.fb {
  width: 100%;
  padding: 5px;
  background: #e0e0e0;
  margin: 0 0 10px;
}
.fb-like-box {
  background: white;
}
.voir-article {
  text-align: right;
  font-size: 0.750em;
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.voir-article a {
  text-decoration: underline;
}
.voir-article a:hover {
  text-decoration: none;
}
/*Les codes*/
/*
	CAROUSEL
*/
/* DEbut fade effect*/
.carousel.c-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.carousel.c-fade .active.left,
.carousel.c-fade .active.right {
  left: 0;
  z-index: 3;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.c-fade .next,
.carousel.c-fade .prev {
  left: 0;
  z-index: 1;
}
.carousel.c-fade .carousel-control {
  z-index: 3;
}
/* Fin fade effect*/
.carousel-indicators {
  bottom: 125px;
}
.carousel-indicators li,
.carousel-indicators .active {
  border-color: #e63f52;
  background-color: #e63f52;
  -webkit-box-shadow: 0 0 5px 0 #e63f52;
  box-shadow: 0 0 5px 0 #e63f52;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
}
.carousel-indicators .active {
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
}
.carousel-inner {
  height: 460px;
}
.carousel-inner .item {
  /*
    @caption-top : 10px;

        &:nth-child(1) .carousel-caption > p{
            margin-top: @caption-top;
        }
        &:nth-child(2) .carousel-caption > p{
            margin-top: @caption-top + 50px;
        }
        &:nth-child(3) .carousel-caption > p{
            margin-top: @caption-top + 120px;
        }
        &:nth-child(4) .carousel-caption > p{
            margin-top: @caption-top + 190px;
        }
        &:nth-child(5) .carousel-caption > p{
            margin-top: @caption-top + 250px;
        }

    */

  /*
        &:after {
            .arrow-carousel(16px);
        }
        &:nth-child(2):after{
            .arrow-carousel(66px)
        }
        &:nth-child(3):after{
            .arrow-carousel(136px)
        }
        &:nth-child(4):after{
            .arrow-carousel(206px)
        }
        &:nth-child(5):after{
            .arrow-carousel(266px)
        }
        */

}
.carousel-inner .item img {
  height: 340px;
  width: 100%;
  /* 			float: right; */

}
.carousel-inner .item .carousel-caption {
  text-shadow: none;
  width: 100%;
  height: 118px;
  padding: 10px;
}
.carousel-inner .item .carousel-caption h2 {
  color: #e63f52;
  margin-bottom: 10px;
  font-weight: bold;
}
.carousel-inner .item .carousel-caption p {
  text-align: justify;
  color: #3a3a3a;
}
/*histoires*/
#histoires .row {
  color: #ffffff;
}
#histoires .row:last-child {
  background: #000000;
  margin-top: 14px;
}
#histoires .iframe-player {
  width: 100%;
  height: 338.4px;
}
#histoires .navigation {
  height: 168px;
  overflow: hidden;
}
#histoires .navigation h1 {
  margin: 2px 0px 2px 0px !important;
  font-size: 0.875em;
  line-height: 1em;
}
#histoires .navigation p {
  padding-top: 2px;
  border-top: 1px solid #ffffff;
  font-size: 0.750em;
  line-height: 1em;
  font-family: "HelveticaNeue-Medium", Verdana, sans-serif;
}
#histoires .navigation .bloc-vignette {
  /*
            width: 185px;
            height: 168px;
            margin-right: 15px;
            margin-left: 20px;
            */

  display: inline-block;
  cursor: pointer;
  overflow: hidden;
}
#histoires .navigation .bloc-vignette .action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0, 0, 0, 0);
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#histoires .navigation .bloc-vignette .action .bt-play {
  position: absolute;
  /* 					margin: 30% 35%; */

  left: 35%;
  top: 35%;
}
#histoires .navigation .bloc-vignette .action .playing {
  position: absolute;
  font-family: "HelveticaNeue-Thin", Verdana, sans-serif;
  text-transform: uppercase;
  /* 					margin: 40% auto; */

  left: 35%;
  top: 40%;
  font-size: 0.688em;
  display: none;
}
#histoires .navigation .bloc-vignette .action-on,
#histoires .navigation .bloc-vignette .action:hover {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* vignettes */
#vignettes .vignettes {
  /* Illustrations */

}
#vignettes .vignettes .vignette:nth-child(n) {
  padding: 0px;
  height: 414px;
  overflow: hidden;
  cursor: pointer;
  /* 			border: 1px solid @white !important; */

  background: #ffffff;
  /*
                        outline:1px solid @white;
                        outline-offset:10px;
            */

}
#vignettes .vignettes .vignette:nth-child(n) .details {
  z-index: 99;
  outline: none;
  background: rgba(0, 0, 0, 0.8) !important;
  padding: 10px !important;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#vignettes .vignettes .vignette:nth-child(n) .details h2,
#vignettes .vignettes .vignette:nth-child(n) .details p {
  color: #ffffff;
  font-size: 0.750em;
  font-family: "HelveticaNeue-Thin", Verdana, sans-serif;
}
#vignettes .vignettes .vignette:nth-child(n):hover .details {
  bottom: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#vignettes .vignettes .vignette:nth-child(n):hover .visuel-off {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*
          opacity: 0;
                    .transition(all, 0.5s, ease);
          */

}
#vignettes .vignettes .vignette:nth-child(n):hover .visuel-on {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#vignettes .vignettes .vignette:nth-child(n) .visuel-off {
  position: absolute;
  top: 0px;
  z-index: 97;
  opacity: .7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#vignettes .vignettes .vignette:nth-child(n) .visuel-on {
  z-index: 98;
  position: absolute;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#vignettes .vignettes .vignette:nth-child(3) {
  height: 415px;
}
#vignettes .vignettes .vignette:nth-child(4) {
  height: 190px;
}
#vignettes .vignettes div:nth-child(1):after {
  /*  				background: url(../images/vestiaire_vignette_1.jpg);  */

  /* 				content: url(../images/vestiaire_vignette_1.jpg); */

}
#vignettes .vignettes div:nth-child(2) {
  height: 415px;
}
#vignettes .vignettes div:nth-child(2):after {
  /* 				background-image: url(../images/vestiaire_vignette_2.jpg); */

}
#vignettes .vignettes div:nth-child(3) {
  height: 190px;
}
#vignettes .vignettes div:nth-child(3):after {
  /* 				background-image: url(../images/vestiaire_vignette_3.jpg); */

}
#vignettes .vignettes div:nth-child(4) {
  height: 190px;
}
#vignettes .vignettes div:nth-child(4):after {
  /* 				background-image: url(../images/vestiaire_vignette_4.jpg); */

}
#vignettes .vignettes div:nth-child(5):after {
  /* 				background-image: url(../images/vestiaire_vignette_5.jpg); */

  /* 				background-position: 0px -590px;				 */

}
#article article {
  border-bottom: 1px solid #000000;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
#article article .big-visuel {
  width: 100%;
}
#article article .big-visuel img {
  width: 100%;
}
/*acces*/
#acces {
  margin-bottom: 0px !important;
}
#acces .bg-acces {
  height: 600px;
  background: url(../images/bg-code.jpg);
  color: white;
}
#acces p {
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 1.5em;
}
/*input*/
.form-group {
  margin-bottom: 5px;
}
.has-error .form-control {
  border-color: #a20000 !important;
}
.btn {
  text-transform: uppercase !important;
  font-weight: 100;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  /*
        .border-radius(0px);
        background: transparent !important;
        padding: 2px !important;
        font-size: 0.7em !important;
        color: @white !important;
    */

}
.btn:hover {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: rgba(255, 255, 255, 0.5) !important;
  background: none;
}
.input-sm,
.btn-xs {
  -webkit-border-radius: 0px;
  /* Firefox 1-3.6 */

  -moz-border-radius: 0px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */

  border-radius: 0px;
  background: transparent;
  padding: 2px !important;
  font-size: 0.7em !important;
  color: #ffffff !important;
}
.input-sm {
  height: 25px;
  width: 80%;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.input-sm:focus {
  border-color: #ffffff;
  background: rgba(212, 212, 212, 0.2);
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
#resultat {
  margin: 5px auto;
  width: 80%;
}
#resultat p {
  text-align: center;
  font-size: 0.870em;
  text-transform: inherit !important;
}
#resultat .bg-warning {
  background: transparent /*fade(@waring, 25%)*/ !important;
  color: #a20000;
}
.voffset200 {
  margin-top: 200px;
}
/**/
.vignette {
  cursor: pointer;
}
.selected {
  background: red;
}
/*
 * FOOTER
 */
.footer {
  min-height: 82px;
  height: auto !important;
  /* 	background-color: #666 !important; */

  font: 11px Arial !important;
  /* 	border-color: @white; */

}
.footer .foot-certif {
  width: 130px !important;
  /* 		border-color: @white; */

}
.footer .foot-certif {
  /* 		border-color: @white; */

}
